@import "tailwindcss";

@theme {
  --color-primary: #1f4cad;
  --spacing-desk: 6rem;
}
/* ini custom biar sembunyiin scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
